* {
    margin: 0;
    padding: 0;
}

.header-newsletter {
    position: absolute;
    margin-top: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.clique-aqui {
    position: absolute;
    margin-top: 50px;
    width: 150px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0, 0.5);
}

.titulo-new {
    font-weight: 400;
    font-family: sans-serif;
    font-size: 22px;
    letter-spacing: 0.05rem;
    animation: piscaPisca 1.7s infinite;
}

@keyframes piscaPisca {
    50% {
        color: rgb(84, 82, 82);
    }

    25% {
        color: white;
    }

}

.footer_newsletter {
    display: grid;
    background: #222;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 300px;
    margin-top: 310px;
    width: 99%;

}

/* Modal newsletter */

.modal-container {
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.mostrar {
    display: flex;
}

.modal {
    background: white;
    width: 60%;
    padding: 40px;
    min-width: 300px;
    border: 10px solid #988b7a;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

@keyframes Modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal {
    animation: Modal 0.5s;
}


.fechar {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    background: #988b7a;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, .3);
    color: white;
    font-size: 1.2em;

}

.clique-aqui {
    cursor: pointer;
}

.fechar {
    cursor: pointer;
}

.newsletter {
    display: flex;
    margin-top: -35px;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 25px;
}

form {
    display: flex;
    grid-gap: 35px;
}

.dad-email {
    position: absolute;
    /* display: flex;    */
}

.i-nome {
    width: 200px;
    height: 15px;
    border: 1px solid rgba(76, 76, 76, 0.5);
    padding: 5px;
    border-radius: 2px;
    display: block;
    outline: 0;
}

.i-email {
    width: 430px;
    height: 15px;
    border: 1px solid rgba(76, 76, 76, 0.5);
    padding: 5px;
    border-radius: 2px;
    display: block;
    outline: 0;
}

/* https://www.youtube.com/watch?v=Fbf-u2ZXCd0&t=8s   animação no botao */

.cadastrar-form {
    position: absolute;
    cursor: pointer;
    margin-left: 15px;
    width: 150px;
    padding: 7px;
    margin-top: 17px;
    border-radius: 3px;
    border: 0;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    letter-spacing: 0.1rem;
    background: #4169e1;
    box-shadow: 1px 1px 0px 1px #000;
    color: white;
}

.cadastrar-form:active {
    box-shadow: 0 0 0 0 #000, inset 1px 1px 1px #000;
    transform: translate(3px, 3px);
}

.res-newsletter {
    position: absolute;
    width: 500px;
    padding: 7px;
    margin-top: 50px;
    margin-left: 170px;
    text-align: center;
    color: red;
}